# Semantic Function Species (part 2)

In [1]:
from scripts.imports import *

out = Exporter(
    paths['outdir'], 
    'semantics'
)

In [2]:
from IPython.display import HTML, display

In [3]:
df.columns

Index(['verse', 'book', 'booksuper', 'canon_part', 'period', 'times_etcbc',
       'times_utf8', 'times_utf8d', 'times_POS', 'TA Heads', 'lex_str',
       'pdp_str', 'head_utf8', 'funct_type', 'function', 'quality', 'name',
       'text', 'n_times', 'n_slots', 'lex_token', 'is_advb', 'tense', 'firstw',
       'genre', 'domain', 'gendom', 'clause', 'sentence', 'cl_rela', 'cl_type',
       'cl_kind', 'verb', 'verb_etcbc', 'verb_utf8', 'verb_text', 'verbform',
       'verb_stem', 'cl_args', 'has_objc', 'has_cmpl', 'has_subj', 'has_oc',
       'Time Position', 'cl_type2', 'cl_nsuccs', 'cl_clust50', 'cl_clust10',
       'verbtense', 'vt_order', 'PP', 'unmodified', 'modtag', 'modtag2',
       'front', 'ph_type', 'has_time', 'notes', 'main_genre', 'APPO', 'DEF',
       'ORDN', 'ØPP', 'GP', 'QUANT', 'PL', 'NUM', 'PARA', 'DEMON',
       'demon_type', 'ADJV', 'TIMEAPPO', 'SPEC', 'SFX3', 'SFX', 'DU', 'SFX1',
       'reg_group', 'SFX2', 'ADVB', 'CARDC'],
      dtype='object')

# Miscellaneous Functions

In [4]:
df[df.funct_type == 'secondary'].function.value_counts()

purposive_ext               34
dist_posterior               6
anterior_limitive            4
purposive                    2
dist_prospective             2
posterior, posterior_dur     1
anterior_dur_except          1
posterior_dur_future         1
atelic_ext, simultaneous     1
Name: function, dtype: int64

In [5]:
funct2names = {
    'purposive_ext':['purpext', 'Purposive Extent'],
    'dist_posterior': ['distpost', 'Distance Posterior'],
    'anterior_limitive': ['antlimit', 'Anterior Limitive'],
    'dist_prospective': ['distprosp', 'Distance Prospective'],
    'purposive': ['purp', 'Purposive'],
    'anterior_dur_except': ['antdurex', 'Anterior Durative with "Except"'],
    'posterior_dur_future': ['postdurfut', 'Posterior Durative Future'],
}

# automatically show examples
for funct in funct2names:
    exdf = df[df.function == funct].sort_values(by='notes').head(10)
    print(funct)
    display(
        ts.show(exdf, extra=['notes'], spread=-1)
    )
    print('-'*50)

purposive_ext
showing 10 of 10

--------------------------------------------------
dist_posterior
showing 6 of 6

--------------------------------------------------
anterior_limitive
showing 4 of 4

--------------------------------------------------
dist_prospective
showing 2 of 2

--------------------------------------------------
purposive
showing 2 of 2

--------------------------------------------------
anterior_dur_except
showing 1 of 1

--------------------------------------------------
posterior_dur_future
showing 1 of 1

--------------------------------------------------

# Pull Out Examples

## Purposive Extent

In [6]:
purpext_df = df[df.function == 'purposive_ext']

out.number(
    purpext_df.shape[0],
    'purpext_N'
)

'34'

In [7]:
antlim_df = df[df.function == 'anterior_limitive']

out.number(
    antlim_df.shape[0],
    'antlim_N'
)

'4'

# Difficult Cases

# Compound Time Adverbials

In [8]:
compound_ct = df[df.funct_type == 'compound'].function.value_counts()

out.table(
    compound_ct,
    'compound_funct_ct',
    caption='Sampled Compound Time Adverbial Frequencies',
)

simultaneous_calendar                        65
begin_to_end                                 55
simultaneous + atelic_ext                    23
multi_simuls                                 18
simul_to_end                                  6
begin_to_end_habitual                         6
dur_to_end                                    5
atelic_ext + simultaneous                     4
posterior + atelic_ext                        4
multi_antdur                                  4
posterior + simultaneous                      3
multi_posterior_dur                           2
simultaneous + posterior                      2
anterior_dur + duration                       2
habitual + begin_to_end                       2
atelic_ext + anterior + atelic_ext            1
anterior + atelic_ext                         1
simultaneous + anterior                       1
dist_fut + atelic_ext                         1
reg_recurr + atelic_ext                       1
simultaneous + anterior_dist                  1
anterior_dur + anterior                       1
simultaneous + posteriors                     1
posterior_dur + begin_to_end + atelic_ext     1
simultaneous + multi_begin_to_end             1
anterior + distance                           1
atelic_ext + habitual                         1
posterior + distance                          1
simultaneous + anterior_limitive?             1
simultaneous + dist_posterior                 1
multi_atelic_ext                              1
anterior + posterior                          1
simultaneous + purposive_ext                  1
simultaneous + begin_to_end                   1
begin_to_end + multi_antdur                   1
Name: function, dtype: int64

In [9]:
comp_clusters = {

    'begin-to-end': [
        'begin_to_end',
        'habitual + begin_to_end',
        'begin_to_end_habitual',
        'simultaneous + begin_to_end',
        'simultaneous + multi_begin_to_end',
        'posterior_dur + begin_to_end + atelic_ext',
        'begin_to_end + multi_antdur',
    ],

    'coordinated location': [
        'simultaneous_calendar',
        'multi_simuls',
        'simultaneous + anterior',
        'simul_to_end',
        'simultaneous + anterior_limitive?',
        'simultaneous + anterior_dist',
        'simultaneous + posterior',
        'simultaneous + posteriors',
        'simultaneous + dist_posterior',
        'posterior + simultaneous',
        'multi_antdur',
        'anterior_dur + anterior',
        'anterior + posterior',
        'multi_posterior_dur',
        'simultaneous + purposive_ext',
    ],

    'coordinated extent': [
        'multi_atelic_ext',
    ],
    
    'location + extent': [
        'simultaneous + atelic_ext',
        'atelic_ext + simultaneous',
        'anterior + atelic_ext',
        'anterior + distance',
        'atelic_ext + anterior + atelic_ext',
        'anterior_dur + duration',
        'dur_to_end',
        'posterior + atelic_ext',
        'dist_fut + atelic_ext',
        'reg_recurr + atelic_ext',
        'atelic_ext + habitual',
    ],
    
    'distance sequential': [
        'posterior + distance',
    ],
    
}

In [10]:
attested = set(cl for name, functs in comp_clusters.items() for cl in functs)

In [11]:
set(compound_ct.index) - attested

set()

## Auto Export Examples for Compounds

In [12]:
for cluster, labels in comp_clusters.items():
    display(HTML(f'<h2>{cluster.title()}</h2>'))
    for label in labels:
        print(label)
        ex_df = df[df.function == label]
        display(
            ts.show(
                ex_df
            )
        )
    display(HTML('<hr>'))

begin_to_end
showing 25 of 55

habitual + begin_to_end
showing 2 of 2

begin_to_end_habitual
showing 6 of 6

simultaneous + begin_to_end
showing 1 of 1

simultaneous + multi_begin_to_end
showing 1 of 1

posterior_dur + begin_to_end + atelic_ext
showing 1 of 1

begin_to_end + multi_antdur
showing 1 of 1

simultaneous_calendar
showing 25 of 65

multi_simuls
showing 18 of 18

simultaneous + anterior
showing 1 of 1

simul_to_end
showing 6 of 6

simultaneous + anterior_limitive?
showing 1 of 1

simultaneous + anterior_dist
showing 1 of 1

simultaneous + posterior
showing 2 of 2

simultaneous + posteriors
showing 1 of 1

simultaneous + dist_posterior
showing 1 of 1

posterior + simultaneous
showing 3 of 3

multi_antdur
showing 4 of 4

anterior_dur + anterior
showing 1 of 1

anterior + posterior
showing 1 of 1

multi_posterior_dur
showing 2 of 2

simultaneous + purposive_ext
showing 1 of 1

multi_atelic_ext
showing 1 of 1

simultaneous + atelic_ext
showing 23 of 23

atelic_ext + simultaneous
showing 4 of 4

anterior + atelic_ext
showing 1 of 1

anterior + distance
showing 1 of 1

atelic_ext + anterior + atelic_ext
showing 1 of 1

anterior_dur + duration
showing 2 of 2

dur_to_end
showing 5 of 5

posterior + atelic_ext
showing 4 of 4

dist_fut + atelic_ext
showing 1 of 1

reg_recurr + atelic_ext
showing 1 of 1

atelic_ext + habitual
showing 1 of 1

posterior + distance
showing 1 of 1

# Manually Extract Specific Cases

## Begin-to-end

In [24]:
b2edf = df[df.function.isin(comp_clusters['begin-to-end'])]

out.number(
    b2edf.shape[0],
    'begintoend_N'
)

'67'

## Calendricals

In [14]:
caldf = df[df.function == 'simultaneous_calendar']

out.number(
    caldf.shape[0],
    'N_simul_calendar'
)

'65'

In [17]:
caldf.times_utf8.value_counts()

שׁנה|חדשׁ                6
חדשׁ|יום                 5
חדשׁ|שׁנה                4
חדשׁ|עשׂור               4
שׁנה|חדשׁ|יום            2
יום|שׁנה                 2
שׁנה|חדשׁ|אחד            2
שׁנה|ראשׁון|אחד          2
שׁנה|חדשׁ|עשׂרים         2
חדשׁ|אחד                 1
שׁנה|עשׂר                1
שׁנה|אחד                 1
חדשׁ|שׁנה|אחד            1
ארבע|כסלו                1
שׁנה|שׁשׁי|חמשׁ          1
חג|חדשׁ                  1
יום|שׁשׁי|שׁנה           1
שׁנה|ירח                 1
שׁנה|ראשׁון|שׁבע         1
שׁנה|חדשׁ|תשׁע           1
יום|עשׂר                 1
שׁנה|חדשׁ|עשׂור          1
שׁבע|חדשׁ                1
שׁנה|חדשׁ|עשׂרים|חדשׁ    1
עשׂר|עשׂר                1
עשׂירי|אחד               1
יום|חדשׁ                 1
שׁנה|שׁלישׁי|אחד         1
יום|אחד|עשׂר             1
חדשׁ|תשׁע                1
שׁנה|עשׂירי|עשׂר         1
חדשׁ|שׁני|שׁנה           1
רביעי|חמשׁ               1
שׁנה|חמישׁי|עשׂור        1
עשׂרים|שׁנה              1
שׁנה|עשׂירי|חמשׁ         1
אחד|שׁנה                 1
בקר|יום                  1
ראשׁון|אחד               1
יום|ערב                  1
ראשׁון|יום               1
שׁביעי|עשׂרים            1
חדשׁ|שׁבע                1
יום|אחד                  1
ערב|יום                  1
Name: times_utf8, dtype: int64